{% extends "Usuarios/base.html" %}

{% block navbar %}

<li class="nav-item">
    <a class="nav-link text-primary" href="{% url 'Tutorias-tutor' %}">Tutorías asignadas</a>
</li>
<li class="nav-item">
    <a class="nav-link text-primary" href="{% url 'Tutorias-historial' %}" >Historial de tutorías</a>
</li>
{% comment %} <li class="nav-item">
    <a class="nav-link text-primary" href="{% url 'Tutorias-historial-generar' %}" >Generar historial tutoría</a>
</li> {% endcomment %}
<li class="nav-item">
    <a class="nav-link text-primary" href="{% url 'Tutorados-tutor' %}">Lista de tutorados</a>
</li>
<li>
    <a class="nav-link text-primary" href="{% url 'Tutorias-comunicacion-masiva' %}">Comunicación masiva</a>
</li>

{% endblock %}

