{% extends "Usuarios/base.html" %}

{% block navbar %}
    
<li class="nav-item"><a class="nav-link text-title text-primary" 
    href="{% url 'Tutores-Coda' %}" >Tutores</a></li>

<li class="nav-item"><a class="nav-link text-title text-primary" 
    href="{% url 'ver-alumnos' %}" >Alumnos</a></li>

<li class="nav-item"><a class="nav-link text-title text-primary" 
href="{% url 'tutorias-aceptadas' %}" >Tutorías</a></li>

<li class="nav-item"><a class="nav-link text-primary" 
    href="{% url 'crear-alumno' %}" >Registrar alumno</a></li>

<li class="nav-item"><a class="nav-link text-title text-primary" 
    href="{% url 'crear-tutor' %}" >Registrar tutor</a></li>

<li class="nav-item"><a class="nav-link text-title text-primary" 
href="{% url 'crear-coordinador' %}" >Registrar coordinador</a></li>

<li class="nav-item"><a class="nav-link text-title text-primary" 
    href="{% url 'ajustes' %}" >Ajustes</a></li>

{% endblock %}