{% extends "Usuarios/HeaderAndFooterFachada.html"%}

{% block title  %} Editar Tutoria {% endblock %}

{% block body %}    
     <section  class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-75">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card border-top border-bottom border-4" style="border-color: #F08200 !important;">
            <div class="d-flex flex-row">
              
              <div class="mx-auto d-flex flex-column">
                <div class="w-auto card-body p-4">
                  <h2>Contraseña cambiada exitosamente</h4>
                    <hr class="mt-0 mb-4">
                    <p>Se ha guardado el cambio de contraseña</p>
                  
                </div>
              </div>
            </div>
          </div>
          
          

        </div>
      </div>
    </div>
  </section>
{% endblock %}
