{% extends "Usuarios/HeaderAndFooterFachada.html"%}

{% block title  %} Generar reporte de notifiación de tutorado {% endblock %}

{% block body %}

    <!--Formulario Solicitud tutor_firmaia-->
    <section class="min-vh-100" style="background-color: #eee;">
        <!-- En caso de que se seleccione una plantilla que no es compatible, se lanza una alerta -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card border-top border-bottom border-4" style="border-color: #F08200 !important;">
                    {% load widget_tweaks%}
                    <form method="post">{% csrf_token %}
                        <div class="card-body p-5">
                            <h3 class="mb-5 text-title-bold text-primary">Generar cartas de asignación</h3>

                            <!-- Tutor -->
                             <div class="form-outline mb-4 disabled">                              
                                    {% render_field form.tutor type="text" class="form-control" id="tutor"%}
                                    <label class="form-label" for="tutor">Tutor</label>
                            </div>

                            <!-- coordinacion a la que pertenece el tutor -->
                            <div class="form-outline mb-4 disabled">
                                {% render_field form.carrera type="text" class="form-control" id="carrera" %}
                                <label class="form-label" for="carrera">Licenciatura</label>
                            </div>

                            {% if is_multiple %}
                            <div class="row mb-4">
                                {% render_field form.no_inicio id="no_inicio" class="form-control"%}
                                <label for="no_oficio">No de inicio.</label>
                            </div>
                            {% endif %}

                            <!-- oficio de la tutor_firmaia input -->
                            <div class="row mb-4">
                                <div class="form-outline">                                
                                    {% render_field form.oficio type="text" class="form-control" id="oficio" rows="3" placeholder="DNC_CODDAA_XXX_20XX"%}
                                    <label class="form-label" for="oficio">No. Oficio</label>
                                </div>
                            </div>

                            <!-- oficio de la tutor_firmaia input -->
                            <div class="row mb-4">
                                <div class="col">
                                    {% render_field form.plantilla class="form-select" id="plantilla"%}
                                    <label class="form-label" for="plantilla">Plantilla</label>
                                    
                                </div>
                            </div>

                            <!-- Hora y Dia imput-->
                            <div class="row mb-4">
                                <!-- Dia de tutor_firmaia  imput-->
                                <div class="col">
                                    <div class="form-outline">
                                        <!-- <input type="text" class="form-control" /> -->
                                        {% render_field form.fecha class="form-select" id="fecha"%}
                                        <label class="form-label" for="fecha">Fecha y Hora</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" value="Save" class="btn btn-primary btn-block mb-4">Generar Reporte</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}