{% extends "Usuarios/HeaderAndFooterFachada.html"%} 

{% block title %} Historial Tutorías  {% endblock %} 

{% block body %}
<!--Ver Tutorias-->
<section id="section" class="w-100" style="background-color: #eee;">
        <div class="row d-flex justify-content-center align-items-center h-100 mb-5 mt-5" style="margin-right: 0px !important;">
            <div class="w-100 card border-top border-bottom border-4 p-5" style="border-color: #f08200 !important">
                <h3 class="text-primary text-title-bold">Historial de tutorías</h3>
                    <div class="table-responsive w-100 overflow-scroll"
                            style="width:100%"
                        >
                             {% load widget_tweaks %}
                            <table class="w-100 table table-striped table-hover text-body overflow-scroll datatable"
                            >
                                <thead class="text-title">
                                    <th>Id</th>
                                    <th>Matrícula</th>
                                    <th class="w-25">Alumno</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Tema</th>
                                    <th>Observaciones</th>
                                    <th>Asistencia</th>
                                    <th class="w-50">Duración de la tutoría</th>
                                    <th class="w-50">¿Firma de documentos de beca?</th>
                                    <th class="w-50">Nombre de la beca otorgada</th>
                                    <th class="w-50">¿Requirió asesoría especializada?</th>
                                    <th class="w-50">Aspectos tratados en la tutoría</th>
                                    <th class="w-50">Impacto tutoría</th>
                                    <th class="w-50">Resultados de tutoría</th>
                                    <th>Reporte</th> <!-- New Seguimiento column -->
                                </thead>
                                <tbody>
                                    {% for tutoria in object_list %}
                                        {% if tutoria.estado == "ACE" %}
                                        <tr>
                                            <td>{{ tutoria.pk }}</td>
                                            <td>{{ tutoria.alumno.matricula }}</td>
                                            <td>{{ tutoria.alumno.first_name }} {{ tutoria.alumno.last_name }} {{ tutoria.alumno.second_last_name }}</td>
                                            <td>{{ tutoria.fecha|date:"Y-m-d" }}</td>
                                            <td>{{ tutoria.fecha|date:"H:i" }}</td>
                                            <td>{{ tutoria.get_tema_display |join:", " }}</td>
                                            <td>{{ tutoria.descripcion }}</td>
                                            <!--Boolean-->
                                            <td class="text-center">{{ tutoria.asistencia|yesno:"Sí,No" }}</td>
                                            <!--If asistencia is no, don't display the rest of the column's values-->
                                            {% if not tutoria.asistencia %}
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>
                                                    <!-- Se supone que la llave primaria se pasa como parte del url a la página de seguimiento... -->
                                                    <a href="{% url 'save_seguimiento' pk=tutoria.pk %}" class="btn btn-primary text-title">Realizar</a>
                                                    </a>
                                                </td>
                                            {% else %}
                                                <td>{{ tutoria.get_duracion_display }}</td>
                                                <!--Boolean-->
                                                <td class="text-center">{{ tutoria.firma_documentos_beca|yesno:"Sí,No" }}</td>
                                                <td>{{ tutoria.beca_otorgada }}</td>
                                                <!--Boolean-->
                                                <td class="text-center">{{ tutoria.asesoria_especializada|yesno:"Sí,No" }}</td>
                                                <td>{{ tutoria.observaciones }}</td>
                                                <td>{{ tutoria.impacto_tutoria }}</td>
                                                <td>{{ tutoria.resultados_tutoria }}</td>
                                                <td>
                                                    <!-- Se supone que la llave primaria se pasa como parte del url a la página de seguimiento... -->
                                                    <a  href="{% url 'save_seguimiento' pk=tutoria.pk %}" class="btn text-title disabled">Realizado</a>
                                                    </a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                    </div>
            </div>
        </div>
</section>

<script>
    function filterByDate() {
        var inputDate = document.getElementById("dateInput").value;
        var rows = document.querySelectorAll(".table tbody tr");

        rows.forEach(function (row) {
            var rowDate = row.querySelector("td:nth-child(3)").textContent;
            if (inputDate === "" || rowDate === inputDate) {
                row.style.display = "table-row";
            } else {
                row.style.display = "none";
            }
        });
    }
</script>

{% endblock %}
