{% extends "Usuarios/HeaderAndFooterFachada.html" %}

{% block title %}Lista de tutorados{% endblock %}

{% block body %}
  <section id="section" style="background-color: #eee;">
    <div class="container py-5 h-100 w-100">
      <div class="row d-flex w-100 justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-10 w-100">
          <div class="card border-top border-bottom border-4"
               style="border-color: #F08200 !important">
            <div class="card-body py-4 px-5">
              <div class="d-flex w-100 align-items-center mb-4">
                <div class="d-flex w-100 align-items-center min-w-100">
                  <h3 class="text-primary text-title-bold">Tutorados de</h3>
                  <h4 class="ms-3 text-title text-black">
                    {% if tutor.sexo == 'F' %}
                      Dra.
                    {% else %}
                      Dr.
                    {% endif %}
                    {{ tutor.nombre_completo }}
                  </h4>
                </div>
              </div>

              <!--Inicio de table-->
              <div class="table-responsive">
                <table class="table table-striped table-hover datatable">
                  <thead>
                    <tr>
                      <th class="text-title h6 text-center">Matrícula</th>
                      <th class="text-title h6 text-center">Nombre</th>
                      <th class="text-title h6 text-center">Correo</th>
                      {% comment %} <th class="text-title h6 text-center">Correo personal</th> {% endcomment %}
                      <th class="text-title h6 text-center">Licenciatura</th>
                      <th class="text-title h6 text-center">Trimestre ingreso</th>
                      <th class="text-title h6 text-center">Estado</th>
                      <th class="text-title h6 text-center">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for alumno in object_list %}
                      <tr>
                        <td class="text-body text-center">{{ alumno.matricula }}</td>
                        <td class="text-body text-center">{{ alumno.nombre_completo }}</td>
                        <td class="text-body text-center">{{ alumno.email }}</td>
                        {% comment %} <td class="text-body text-center">{{ alumno.correo_personal|default_if_none:"No registrado" }}</td> {% endcomment %}
                        <td class="text-body text-center">{{ alumno.get_carrera_display }}</td>
                        <td class="text-body text-center">{{ alumno.trimestre_ingreso }}</td>
                        <td class="text-body text-center">{{ alumno.get_estado_display }}</td>
                        <td class="text-center"><a class="text-body-bold text-primary"
   href="{% url 'editar-alumno' alumno.pk %}">Editar</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!--Fin de table-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



{% endblock %}
