{% extends "Usuarios/HeaderAndFooterFachada.html"%}

{% block title %} Lista de tutores {% endblock %}


{% block body %}
<section id="section"  style="background-color: #eee;">
  <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-10">
              <div class="card border-top border-bottom border-4" style="border-color: #F08200 !important;">
                  <div class="card-body p-4">
                      <h3 class=" mb-4 text-primary text-title-bold">Lista de tutores</h3>
                      

                      <!--Inicio de table-->
                      <div class = "table-responsive">
                       <table class="table table-striped table-hover datatable">
                          <thead>
                            <tr class="text-center text-title h6">
                              <th>N. Económico</th>
                              <th>Nombre</th>
                              <th>Correo</th>
                              <th>Coordinación</th>
                              <th>Tutorias</th>
                              <th>Tutorados</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for tutor in object_list %}
                            <tr class="text-body">
                              <td class="text-center">{{ tutor.matricula }}</td>
                              <td>{{ tutor.first_name }} {{ tutor.last_name }}{% if tutor.second_last_name %} {{ tutor.second_last_name }}{% endif %}</td>
                              <td>{{ tutor.email }}</td>
                              <td>{{ tutor.get_coordinacion_display }}</td>
                              <td><a class="text-body-bold" href="{% url 'Tutorias-Cordinador' tutor.pk %}">Ver Tutorias</a></td>
                              <td><a class="text-body-bold" href="{% url 'Tutorados-Cordinador' tutor.pk %}">Ver Tutorados</a></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                      </div>
                      <!--Fin de table-->
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

{% endblock %}